* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0 50px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #181818;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    padding: 130px 150px;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.section-description {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
    text-align: center;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}